[submodule "support/expresso"]
	path = support/expresso
	url = git://github.com/visionmedia/expresso.git
[submodule "support/oauth"]
	path = support/oauth
	url = git://github.com/ciaranj/node-oauth.git
